head {
    display: none;
}

body {
    background-color: gray;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}