head {
    display: none;
}

body {
    background-color: gray;
    background-image: url('bg.jpeg')
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    background-color: rgba(128, 116, 116, 0.6);
}

.topnav a {
    float: right;
    text-decoration: none;
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.topnav p {
    float: left;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.active {
    color: black;
}

.about {
    margin-top: 500px;
}