* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
    background: url(/photos/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

head {
    display: none;
}

body {
    position: relative;
    padding-bottom: 75rem;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
}

p {
    font-family: 'Playfair Display';
    font-size: 25px;
}

h1 {
    font-family: 'Poppins';
    font-size: 40px;
}

h3 {
    font-family: 'Playfair Display';
    font-size: 20px;
}

nav {
    width: 100%;
    background-color: #333;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    z-index: 10000;
}

nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: #ff0000;
}

nav .icon {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.column {
    float: left;
    width: 40%;
    padding: 15px;
    text-align: center;
}

.column-pad {
    float: left;
    width: 30%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#profile {
    margin-top: 100px;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

hr {
    width: 50px;
    height: 5px;
    background: #333;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}

.twitter span {
	background-color: #4099ff;
}

.facebook span {
	background-color: #3B5998;
}

.instagram span {
    background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.github span {
    background-color: #333;
}

.linkedin span {
    background-color: #0e76a8;
}

.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

.icon-button .icon-twitter {
	color: #4099ff;
}

.icon-button .icon-facebook {
	color: #3B5998;
}

.icon-button .icon-instagram {
    color: #333;
}

.icon-button .icon-github {
    color: #333;
}

.icon-button .icon-linkedin {
    color: #0e76a8;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-github,
.icon-button:hover .icon-linkedin {
	color: white;
}

.about-me {
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(100, 100, 100, 0.95);
}

.about {
    font-size: 25px;
}

.resume-row {
    background-color: rgba(100, 102, 79, 0.897);
}

.resume-row button {
    background-color: #64c264;
    border: 1px solid green;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Playfair Display'
}

.resume-row button:hover {
    background-color: #568157; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.resume-row button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.resume-row button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.resume-row button:hover span {
    padding-right: 15px;
}

.resume-row button:hover span:after {
    opacity: 1;
    right: 0;
}

.tabs {
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: rgba(0, 0, 0, 0.322);
}

.project-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

footer {
    position: absolute;
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(100, 102, 79, 0.897);
}

.contact-column {
    display: inline-table;
    text-align: center;
    padding: 15px;
}

.contact-card {
    margin-top: 0;
}

.contact-card address {
    color: black;
    text-decoration: none;
}

.contact-card p {
    color: black;
    font-size: 17px;
}

.contact-card i {
    margin-right: 10px;
}

input[type=text], select, textarea {
    float: center;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }

    .column-pad {
        width: 0%;
    }

    nav a:not(:first-child) {
        display: none;
    }

    nav a.icon,
    nav a:first-child {
        float: left;
        display: block;
    }

    nav.responsive {
        position: fixed;
    }

    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}